
@media (max-width:1550px){
    .portfolio__grid{
        margin-right: 20px;
        margin-left: 20px;
        justify-content: space-evenly
    }
  
    .portfolio__column:last-child{
       display: none;
    }
    .portfolio__item{
        margin-bottom: 5px;
    }
    .contact__inner{
        flex-wrap: wrap;
    }
    .contact__map-img{
        
    }
    
    
}
@media (max-width: 1320px){
    .magic__img{
        width: 40%;
        height: 40%;
    }
    .magic__inner{
       margin-right: 20px;
       margin-left: 50px;
       max-width: 700px;
    }
    
}
@media (max-width: 1250px){
    .about__inner,
    .expertise__inner,
    .portfolio__inner,
    .team__inner,
    .pricing__inner,
    .contact__inner{
       display: block;
       padding-top: 100px;
       padding-left: 50px;
       padding-right: 25px;
       padding-bottom: 50px;
     
    }
    
    .line{
        margin-bottom: 20px;
    }
    .about__text{
        max-width: 100%;
    }
     .expertise__title{
    margin-bottom: 45px;
    }
    .portfolio__head{
        margin-bottom: 50px;
        padding-top: 0;
        
    }
    .carousel{
        padding-top: 150px;
        padding-bottom: 150px;
    }
   
    .team__item{
        margin: 15px 15px 25px 15px;
        
    }
    .pricing__items{
        justify-content: space-around;
    }
     .pricing__item{
        margin-top: 25px;
    }
     .contact__content{
        max-width: 100%;
    }
 
    .magic__img{
        max-width: 420px;
        height: 595px;
    }
  
}
@media(max-width: 1180px){
    .portfolio__column:nth-of-type(3){
       display: none;
    }
}
@media (max-width: 1130px){
    .magic__img{
    display: none;
    }
  .magic__inner{
       margin-right: 20px;
       margin-left: 50px;
       max-width: 900px;
       padding-bottom: 50px;
    }
 
}
@media (max-width: 1100px){
    .header__content{
    max-height: 800px;
    background-position: center center;
   }
      .team__items{
        flex-wrap: wrap;
        justify-content: space-evenly
    }
    .pricing__items{
        flex-wrap: wrap;
        justify-content: space-evenly
    }
    .pricing__item{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin:20px;
    }
    .pricing__btn{
        margin-left: 0;
    }

  
    

}
@media (max-width: 992px){
    .portfolio__title{
        margin-right: 25px;
    }
    .portfolio__head{
        flex-wrap: wrap;
    }
       
}
@media (max-width: 860px){
    .expertise__title{
    margin-bottom: 25px;
    }
    .expertise__numbers{
        display: block;
        margin-bottom: 50px;
    }
    .expertise__number-text{
        margin-left: 0;
    }
    .expertise__items{
       display: block;
    }
    .expertise__item{
        margin-bottom: 20px;
        max-width: 600px;
    }
    .expertise__item+.expertise__item{
    margin-left: 0;
    }
    .slider__text-box{
        max-width: 703px;
        max-height: 700px;
        padding-left: 60px;
       
    }
    .slider__item-title{
        display: flex;
        display: flex;
        flex-wrap: wrap;
    }
    
   
}
@media (max-width: 768px){
    .menu__btn{
        display: flex;
    }
    .menu__list{
        display: flex;
        position: absolute;
        background-color: #FCBB08;
        opacity: 0.5;
        z-index: 1;
        writing-mode: vertical-rl;
        justify-content:space-evenly;
        margin: 0 auto;
        transform: translateY(-200%);
        transition: all 0.5s;
        
    }
    .menu__list.menu__list--active{
        transform: translateY(0);
        
     }
    .menu__list-item{
        margin-bottom: 0;
        margin-left: 0;
        padding-right: 10px;
        padding-left: 18px;
        width: 42px;
        font-size: 18px;
        margin-top: 30px;
        
    }
    .menu__list-item:last-child{
        margin-bottom: 20px;
    }
    .menu__link:hover{
        text-decoration: none;
    
    }
    .header__content{
        max-height: 500px;
    }
    .header__content-title{
        font-size: 100px;
        
    }
   .portfolio__menu-btn{
        display: none;
        margin-bottom: auto;
    }
    .portfolio__column:nth-of-type(2){
       display: none;
    }
    .portfolio__menu-list{
        display: none;
    }
    .statistics__inner{
         flex-wrap: wrap;
         padding-top: 100px
    }
    .statistics__item{
        padding-top: 0;
        min-width: 125px;
        margin-left: 25px;
        padding-bottom: 25px;         
    }
    .footer__content{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .logo--line{
        margin-bottom: 40px;
    }
    .footer__list{
        flex-wrap: wrap;
        margin-left: 15px;
    }
    .footer__list-item{
        margin-bottom: 25px;
    }
    
    
}
@media (max-width: 524px){
    .menu__btn{
        margin: 26px 20px 26px auto;;
    }
    .title{
        font-size: 45px;
    }
    .portfolio__grid{
        margin-left: 0;
        margin-right: 0;
        
    }
    .portfolio__head{
        margin-bottom: 0px;
    }
    .portfolio__item{
        max-width: 50%;
    }
      .portfolio__column{
       padding-left: 50px;
        
    }
    .carousel{
        padding-top: 75px;
        padding-bottom: 75px;
    }
    .slider__item-title{
        font-size: 30px;
        line-height: 40px;
    }
    .pricing__list-item{
        font-size: 16px;
        line-height: 18px;
        margin-left: 0;
        margin-right: 0;
    }
    .footer__content{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .logo--line{
        margin-bottom: 30px;
    }
    .pricing__item-info{
        margin-left: 50px;
        margin-right: 50px;
        padding-bottom: 30px;
    }
    .pricing__btn{
        margin-top: 45px;
    }
    .pricing__item{
        padding-bottom: 25px;
        padding-left: 0;
    }
    
   
}
@media (max-width: 450px){
    .header__content-title{
        font-size: 70px;
    }
    .carousel{
        display: none;
    }
    .title{
        font-size: 35px;
        margin-bottom: 30px;
        line-height: 40px;
    }
    .contact__btn{
        width: 180px;
    }
}